python-dotenv
ipykernel
langchain
langchain-community
numpy
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
sentence_transformers
langchain_huggingface
faiss-cpu   
langchain_chroma
langchain_core
langchain_groq
fastapi
uvicorn
langserve
groq
huggingface_hub
datasets
cassio
vosk
sounddevice
transformers
scipy
hf_xet
torch
openai
soundfile
gtts 
playsound==1.2.2
flask
flask_cors
dotenv